*{
    padding: 0;
    margin: 0;
}
.tie h1{
    text-align: center;
}
.clearn{
    width: 100px;
    height: 100px;
    margin-left: 200px;
    margin-top:100px;
    font-size:30px;
}
#big{
    width: 820px;
    height: 400px;
    margin-left: 150px;
    background: lightsalmon;
}
.l{
    width: 450px;
    height: 300px;
/*     border:solid 3px red; */
    margin-top: 130px;
/*     margin-left: 0px; */
    float: left;
}
.v1{
    width: 120px;
    height: 80px;
    margin-left: 10px;
    text-align: center;
    background: lightblue;
    float: left;
     font-size:30px;
}
#operator{
    width: 70px;
    height:60px;
    text-align: center;
    margin-top: 15px;
    background: lightyellow;
    margin-left: 50px;
     font-size:35px;
}
.v2{
    width: 120px;
    height: 80px;
    text-align: center;
    background: lightblue;
    float: right;
     font-size:30px;
}
.r{
    width: 350px;
    height: 200px;
    float:left; 
/*     border: solid 3px blue; */
    margin-top: 130px;
}
.btn{
    width: 70px;
    height:60px;
    margin-left: 50px;
    margin-top: 15px;
    background: rgb(255, 149, 0);
    float: left;
     font-size:40px;
}
.result{
    width: 150px;
    height: 150px;
    float: right;
    text-align: center;
    line-height: 150px;
    background: lightgreen;
    margin-right: 15px;
     font-size:40px;
}
.cur{
    background:blue;
    box-shadow: 3px 3px 3px 3px black;
    color: white;
}