*{
    padding: 0;
    margin: 0;
}
.warp{
    width: 70%;
    margin: 0 auto;
}
.nav .warp ul li {
    list-style: none;
    float: left;
    width: 70px;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
}
.nav .warp{
    background: #024E7F;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.nav .warp ul li a{
    text-decoration: none;
    color: #fff;
}
.mid {
    width: 100%;
    height: 330px;
    margin-top: 10px;
    background-color: #F2F8F9;
}
.mid .midleft{
    float: left;
}
.mid .midleft .a{
    width: 200px;
    height:60px;
}
.mid .midleft .up{
    width: 200px;
}
.mid .midleft .down{
    width: 200px;
}
.mid .midright{
    margin-left: 230px;
    position: relative;
}
.rimg .l{
    width: 75%;
}
.rimg .r{
    width: 25%;
    position: absolute;
    top: 40px;
}
.midright li {
    list-style: none;
    width: 130px;
    float: left;
    margin-left: 10px;
}
.midright li a{
    text-decoration: none;
}
.text1{
    height: 20px;
}
.middownd{
    width: 70%;
    margin-top: 10px;
    
}
.middowndr{
    width: 20%;
    float: right;
    position: absolute;
    right: 20px;
}
.middownd p{
    font-size: 12px;
    float: left;
}
.middownd img{
    float: left
}
.end img{
    width: 400px;
    float: right;
}
.end{
    width: 100%;
    height: 30px;
    background-color:#F2F2F2;
}